[Unit]
Description=Mitmoxy {version} - HTTP/HTTPS MITM Proxy server
After=network.target

[Service]
Type=simple
WorkingDirectory={workdir}
ExecStart=/usr/bin/mitmoxy start
Restart=no

[Install]
WantedBy=multi-user.target
